body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    height: max-content;
    margin: auto;
    margin-top: 1%;
    border: 5px inset;
    border-color: blue;
    border-radius: 1%;
    padding: 7px;
}

hr {
    border: 2px solid;
    border-radius: 5px;
    width: 100%;
}

#header {
    display: flex;
    justify-content: center;
    flex: wrap;
    margin-left: 1%;
}

#winner-bar {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color: black;
    padding: 6px;
    width: 95%;
}

#end-game {
    text-align: center;
}

#main {
    background-color: cadetblue;
    border: 2px inset;
    border-color: darkslategray;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    column-gap: 2%;
    width: 93%;
    margin-top: 2%;
    padding: 2%;
}

#setup-game {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#submit-names {
    display: flex;
    flex-wrap: nowrap;
}

#submit-names-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

#setup-game-colours {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#select-grid-colour {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

#select-background-colour {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}


#select-grid-colour {
    margin-top: 6%;
    flex-wrap: nowrap;
}

#select-background-colour {
    align-self: center;
    justify-self: flex-end;
    margin-top: 3%;
    flex-wrap: nowrap;
}

#current-player {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

#current-player-indicator {
    width: 80px;
    height: 80px;
    border: 7px solid;
    border-color: black;
    border-radius: 100%;
    background-color: red;
}

#current-player-name {
    display: flex;
    justify-self: center;
}

#game-board {
    width: 64%;
    max-width: 560px;
}

#grid {
    border: 5px solid;
    border-radius: 8% 8% 5% 5%;
    background-color: blue;
    height: 516px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.29%;
    height: 70px;
    border: 7px solid;
    border-radius: 100%;
    border-color: black;
    background-color: cadetblue;
    margin: 1px;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

#grid-stand {
    border: 5px solid;
    border-color: black;
    background-color: blue;
    height: 15px;
    border-radius: 15% 15% 0% 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

#grid-text {
    display: flex;
    font-size: x-small;
    color: darkblue;
}

#names-and-scores {
    min-width: 200px;
    width: auto;
    
}

button {
    margin: 10px 0px 10px 0px;
    padding: 3%;
    width: 80%;
    font-weight: bold;
    min-width: 80px;
}

#display-names-and-scores {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 99%;
    margin-top: 1%;
}
